[Unit]
Description=Mount Google Cloud Storage bucket duplicator-algr-bucket to /mnt/Buckets/duplicator-algr-bucket
After=network-online.target
RequiresMountsFor=/mnt/AppData/gcsfuse

[Service]
Type=simple
RemainAfterExit=yes
# Add a loop to check for the existence of the directory
ExecStart=/bin/bash -c 'while [ ! -d /DATA/AppData/gcsfuse ]; do sleep 1; done; /usr/bin/rclone mount cabbery-general-thr1:duplicator-algr-bucket /mnt/Buckets/duplicator-algr-bucket --allow-other --vfs-cache-mode writes'

[Install]
WantedBy=multi-user.target
